.sidebar {
  position: relative;
  flex: 1 auto;

  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
  max-width: 20%;
  margin-right: 2%;

  background-color: black;
}

.sidebar_logo {
  display: grid;
  place-items: center;
  height: 120px;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Mochiy Pop P one", sans-serif;
}

.sidebar_item {
  position: relative;
  /* display: flex; */
  align-items: left;
  /* place-content: flex-start; */
  /* padding: 1rem 1rem; */
  font-size: 1rem;
  font-weight: 500;
  color: #555555;
  transition: color 0.3s ease-in-out;
}
